language: haskell

ghc:
  - 7.8
  - 7.10

install:
  - 'cabal update'
  - 'cabal install --only-dependencies --enable-tests --enable-benchmarks'

script:
  - 'cabal configure'
  - 'cabal build'
  - 'cabal sdist'
  - 'cabal test'
